.main {
    text-align: center;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.navigation-list > li {
    margin: 2% auto;
    list-style: none;
}

.unvisible {
    display: none;
}

.visible {
    display: block;
}